/*
 *	CSS CACHE: Core Styling
 * 
 */


/*	Define Constants
	----------------------------------- */
	
	@constants {
		linkcolor: #aa1948;
		selectioncolor: #aa1948;
		sitefont: Helvetica, Arial, sans-serif;
	}

/*	Common Base Sets
	----------------------------------- */
	
	@base(base-font-spec) {
		font-family: const(sitefont);
		font-size: 12px;
		line-height: 1.4;
	}	

/*	Standard Imports
	----------------------------------- */

	@server import url("modules/reset.css");

	@server import url("modules/base.css");


/*	Page structure
	----------------------------------- */

	article {
		based-on: base(base-font-spec);
	}

/*	Import Helpers & Overrides
	----------------------------------- */

	@server import url("modules/helpers.css");
	
	@server import url("modules/media.css");
	
	@server import url("modules/print.css");

